version: 2.1

orbs:
  node: circleci/node@2.0.1
  slack: circleci/slack@3.2.0
  jq: circleci/jq@2.0.1
  coveralls: coveralls/coveralls@1.0.6
  rn: react-native-community/react-native@2.0.1

executors:
  # Node with Ruby (Install node modules / gems / pods)
  node:
    docker:
      - image: circleci/ruby:latest-node
        environment:
          API_URL: $API_URL
          AMPLITUDE_KEY: $AMPLITUDE_KEY
    resource_class: large

  mobile-build-box:
    macos:
      xcode: 12.0.0

references:
  default_workspace: &default_workspace ~/covid-react

  # Cache keys
  yarn_cache_key: &yarn_cache_key yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
  node_cache_key: &node_cache_key node-v1-{{ checksum "package.json" }}-{{ arch }}
  pod_cache_key: &pod_cache_key pod-v2-{{ checksum "ios/Podfile.lock" }}-{{ arch }}
  gem_cache_key: &gem_cache_key gems-v2-{{ checksum "Gemfile.lock" }}-{{ arch }}

  # Branch filters
  master_filter: &master_filter
    branches:
      only: master

  stage_filter: &stage_filter
    branches:
      only: develop

  legacy_ota_filter: &legacy_ota_filter
    branches:
      only: release-0.x-legacy

  feature_filter: &feature_filter
    branches:
      ignore:
        - master
        - develop
        - stage
        - release-0.x-legacy

commands:
  # Checks out code & restore cache for deps
  prepare_code:
    steps:
      - checkout
      - restore_cache:
          key: *yarn_cache_key
      - restore_cache:
          key: *node_cache_key
      - restore_cache:
          key: *pod_cache_key
      - restore_cache:
          key: *gem_cache_key

  install-dependencies:
    steps:
      - bundler-install
      - node-install

  bundler-install:
    steps:
      - run: gem install bundler
      - run:
          name: Bundle install
          command: bundle check || bundle install --path vendor/bundle --clean
          environment:
            BUNDLE_JOBS: '4'
            BUNDLE_RETRY: '3'
      - run: bundle update fastlane
      - save_cache:
          key: *gem_cache_key
          paths:
            - vendor/bundle
  
  node-install:
    steps:
      - run: yarn
      - save_cache:
          key: *yarn_cache_key
          paths:
            - ~/.cache/yarn
      - save_cache:
          key: *node_cache_key
          paths:
            - node_modules
      - save_cache:
          key: *pod_cache_key
          paths:
            - ios/Pods
            - ~/Library/Caches/CocoaPods/Pods

  # Prepare black env for testing
  prepare_blank_env:
    steps:
      - run: echo "API_URL=" > .env
      - run: echo "AMPLITUDE_KEY=" >> .env

  prepare_deploy_env:
    steps:
      - run: mkdir -p .signing
      - run: echo "API_URL=$API_URL" > .env
      - run: echo "AMPLITUDE_KEY=$AMPLITUDE_KEY" >> .env
      - run: echo "MATCH_PASSWORD=$MATCH_PASSWORD" >> .env
      - run: echo "iOS_SCHEME=$iOS_SCHEME" >> .env
      - run: echo "iOS_APP_ID=$iOS_APP_ID" >> .env
      - run: echo "APPCENTER_API_TOKEN=$APPCENTER_API_TOKEN" >> .env
      - run: echo "APPCENTER_ANDROID_TOKEN=$APPCENTER_ANDROID_TOKEN" >> .env
      - run: echo "APPCENTER_IOS_PROJECT_NAME=$APPCENTER_IOS_PROJECT_NAME" >> .env
      - run: echo "APPCENTER_NOTIFY_GROUP=$APPCENTER_NOTIFY_GROUP" >> .env
      - run: echo "APPCENTER_DESTINATION_TYPE=$APPCENTER_DESTINATION_TYPE" >> .env
      - run: echo "FASTLANE_PASSWORD=$FASTLANE_PASSWORD" >> .env
      - run: echo "FASTLANE_SESSION=$FASTLANE_SESSION" >> .env
      - run: echo "NAME=$NAME" >> .env 
      - run: echo "$GOOGLE_SERVICE_JSON" | base64 --decode > google-services.json
      - run: echo $KEYSTORE_FILE | base64 -d > .signing/release.jks
      - run: echo "" >> android/gradle.properties
      - run: echo "KEYSTORE_FILE=../../.signing/release.jks" >> android/gradle.properties
      - run: echo "KEYSTORE_PASSWORD=$KEYSTORE_PASSWORD" >> android/gradle.properties
      - run: echo "KEYSTORE_KEY_ALIAS=$KEYSTORE_KEY_ALIAS" >> android/gradle.properties
      - run: echo "KEYSTORE_KEY_PASSWORD=$KEYSTORE_KEY_PASSWORD" >> android/gradle.properties

  # Should prepare code, install deps & bundle assets
  build:
    steps:
      - prepare_code
      - install-dependencies
      - run:
          name: 'Bundle RN Android assets'
          command: npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res
      - run:
          name: 'Clean up after bundling'
          command: rm -rf ./android/app/src/main/res/drawable-* && rm -rf ./android/app/src/main/res/raw

  # Publish OTA releases through Expo
  expo_ota_publish:
    steps:
      - run:
          name: Set expo release channel
          command: |
            echo 'export RELEASE_CHANNEL=`cat app.json | jq -r '.expo.version' | cut -d. -f1`-$RELEASE_CHANNEL_SUFFIX' >> $BASH_ENV
      - run: npx expo-cli login -u $EXPO_USERNAME -p $EXPO_PASSWORD
      - run: npx expo-cli publish --non-interactive --max-workers 1 --release-channel ${RELEASE_CHANNEL}
      # Legacy expo release channels
      # - run: npx expo-cli publish --non-interactive --max-workers 1 --release-channel 0.9-prod
      # - run: npx expo-cli publish --non-interactive --max-workers 1 --release-channel 0.12-prod
      # - run: npx expo-cli publish --non-interactive --max-workers 1 --release-channel 0.13-prod

jobs:
  # Prepare code, install dependencies (node & ios & ruby), build android assets
  # Save dependencies & bundled assets in workspace
  build:
    executor: mobile-build-box
    working_directory: ~/covid-react
    steps:
      - build
      - persist_to_workspace:
          root: *default_workspace
          paths:
            - node_modules
            - vendor/bundle
            - ios/Pods
            - android/app/src/main/assets/index.android.bundle
            - android/app/src/main/res

  # Prepare code and run lint
  lint:
    executor: mobile-build-box
    working_directory: ~/covid-react
    steps:
      - prepare_code
      - run:
          command: |
            mkdir -p ~/reports
            yarn lint:ci
          when: always
      - run: yarn prettier
      - store_test_results:
          path: ~/reports
      - store_artifacts:
          path: ~/reports

  # Prepare code and check i18n
  i18n:
    executor: mobile-build-box
    working_directory: ~/covid-react
    steps:
      - prepare_code
      - run: yarn test:i18n 'sv-SE'
      - run: yarn test:i18n 'es'

  # Prepare code and run tests
  test:
    executor: mobile-build-box
    working_directory: ~/covid-react
    steps:
      - prepare_code
      - prepare_blank_env
      - run:
          name: Run tests with JUnit as reporter
          command: yarn test:coverage -- --ci
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - coveralls/upload
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit

  # Deploying to stage (upload to app center for ad-hoc build)
  deploy-stage:
    executor: mobile-build-box
    working_directory: ~/covid-react
    steps:
      - build
      - deploy-ios
      - deploy-android

  # Uses osx & xcode to build iOS project
  deploy-ios:
    executor: mobile-build-box
    working_directory: ~/covid-react
    steps:
      - prepare_code
      - run: yarn
      - attach_workspace:
          at: *default_workspace
      - prepare_deploy_env
      - run: bundle install --path vendor/bundle --clean
      - run: yarn fastlane:ios:release
      - store_artifacts:
          path: ~/covid-react/build/covid-zoe.ipa
      - store_artifacts:
          path: ~/covid-react/build/covid-zoe.app.dSYM.zip

  # Uses android-api docker image to build android app
  deploy-android:
    working_directory: *default_workspace
    docker:
      - image: circleci/android:api-29-node
    environment:
      JAVA_OPTS: '-Xms512m -Xmx2g'
      GRADLE_OPTS: '-Xmx3g -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-Xmx2g -XX:+HeapDumpOnOutOfMemoryError"'
    steps:
      - checkout:
          path: *default_workspace
      - attach_workspace:
          at: *default_workspace
      - prepare_deploy_env
      - restore_cache:
          key: *gem_cache_key
      - run: bundle install --path vendor/bundle --clean && cat android/gradle.properties
      - run:
          name: fastlane android release
          no_output_timeout: 60m
          command: |
            ENVFILE=.env bundle exec fastlane android release env:stage
      - store_artifacts:
          path: ~/covid-react/android/app/build/outputs

  deployed-stage:
    executor: mobile-build-box
    steps:
      - slack/notify:
          message: Deployed adhoc builds for iOS & Android
          webhook: $SLACK_WEBHOOK

  deployed-prod:
    executor: mobile-build-box
    steps:
      - slack/notify:
          message: Deployed release builds for iOS & Android
          webhook: $SLACK_WEBHOOK

  legacy_deploy:
    executor: mobile-build-box
    working_directory: ~/covid-react
    steps:
      - build
      - run: npx expo-cli login -u $EXPO_USERNAME -p $EXPO_PASSWORD

  ota-release:
    executor: node
    working_directory: ~/covid-react
    steps:
      - build
      - prepare_deploy_env
      - expo_ota_publish

workflows:

  default:
    jobs:
      - build:
          filters: *feature_filter
      - deploy-android:
          filters: *feature_filter
          context: react-covid-tracker-prod
          requires:
              - build
      - deploy-ios:
          filters: *feature_filter
          context: react-covid-tracker-prod
          requires:
              - build
      # - lint:
      #     filters: *feature_filter
      #     requires:
      #         - build
      # - i18n:
      #     filters: *feature_filter
      #     requires:
      #         - build
      # - test:
      #     filters: *feature_filter
      #     requires:
      #         - build

      # - deployed-stage:
      #     context: slack-ci-covid-mobile
      #     requires:
      #         - build

  staging:
    jobs:
      - build:
          filters: *stage_filter
      - deploy-ios:
          filters: *stage_filter
          context: react-covid-tracker-stage
          requires:
              - build
      - deploy-android:
          filters: *stage_filter
          context: react-covid-tracker-stage
          requires:
              - build
      - deployed-stage:
          context: slack-ci-covid-mobile
          requires:
              - deploy-ios
              - deploy-android

  production:
    jobs:
      - build:
          filters: *master_filter
      - slack/approval-notification:
          filters: *master_filter
          message: 'Awaiting manual approval to deploy to production (Options: OTA, Store)'
          context: slack-ci-covid-mobile
          requires:
            - build
      - store-release-approval:
          filters: *master_filter
          type: approval
          requires:
            - build
      - ota-release-approval:
          filters: *master_filter
          type: approval
          requires:
            - build
      - deploy-ios:
          filters: *master_filter
          context: react-covid-tracker-prod
          requires:
              - store-release-approval
      - deploy-android:
          filters: *master_filter
          context: react-covid-tracker-prod
          requires:
              - store-release-approval
      - ota-release:
          filters: *master_filter
          context: react-covid-tracker-prod
          requires:
              - ota-release-approval
      - deployed-prod:
          context: slack-ci-covid-mobile
          requires:
              - deploy-ios
              - deploy-android

  legacy-ota:
    jobs:
      - build:
          filters: *legacy_ota_filter
      - ota-release-approval:
          filters: *legacy_ota_filter
          type: approval
          requires:
            - build
      - ota-release:
          filters: *legacy_ota_filter
          context: react-covid-tracker-prod
          requires:
              - ota-release-approval